extends ../layout/index


block content
    .pt-6.pb-8
        a(href="#")
            .flex.flex-wrap.justify-center
                img(class="image object-top object-scale-down h-48 w-96" src="/img/nestatelogo.png" alt="Nestate Logo").max-w-full.h-auto.align-middle.border-none


        .mt-2.mx-auto.max-w-md
            .bg-white.py-4.px-4.shadow
                form.space-y-2.font-serif
                    h2.text-center.text-2xl.font-medium.font-serif=pageTitle
                    div
                        label(for="email").block.text-sm.text-gray-950.mb-2.font-medium Please enter your email address. We will send you an email to reset your password.
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(placeholder="you@example.com" type="email" name="email")


                    input(class='w-full py-2 rounded-sm cursor-pointer text-amber-50 bg-yellow-500 hover:bg-yellow-400' type="submit" value="Send e-mail")

                    div.flex.items-center.justify-start.pt-2

                        a(href="/auth/signup" class="text-xs text-gray-700 hover:text-gray-600") Don't have an account? Sign up here
