extends ../layout/index


block content
    .pt-6.pb-8
        a(href="#")
            .flex.flex-wrap.justify-center
                img(class="image object-top object-scale-down h-48 w-96" src="/img/nestatelogo.png" alt="Nestate Logo").max-w-full.h-auto.align-middle.border-none




        .mt-2.mx-auto.max-w-md
            .bg-white.py-4.px-4.shadow
                form.space-y-2.font-serif(method="POST" noValidate)
                    if errors
                        div(class="max-w-md mx-auto mb-4")
                            each error in errors
                                if(error.path!=="confirmPassword")
                                    p.bg-red-600.text-white.rounded-sm.text-xs.text-center.p-2.mb-1.italic=error.msg
                    h2.text-center.text-2xl.font-medium.font-serif=pageTitle
                    div
                        label(for="password").block.text-md.text-gray-950.mb-2.font-medium Set your new password:
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(placeholder="New Password" type="password" name="password")


                    input(class='w-full py-2 rounded-sm cursor-pointer text-neutral-50 bg-green-900 hover:bg-green-700' type="submit" value="Save Password")
